body {
    background-color:#22282a;
}
.sign {
    border: solid 2px rgb(241, 237, 237);
    text-align: center;
    margin: 120px 500px;
    border-radius: 5px;
    background-color: white;
    
}
input {
    padding:15px 100px;
    border-radius: 5px;

  
}

a {
    text-decoration: none;
}
.log {
    border: solid 2px rgb(234, 231, 231);
    text-align: center;
    background-color: red;
    border-radius: 25px;
    padding: 10px;
    margin: 60px 65px;
    color: white;
}
.dd {
    margin-right: 300px;
}

@media screen and (max-width:1152px){

      body {
        background-color: white;
    
      }
      .sign {
        border: solid 2px white;
        text-align: center;
        margin: 100px 100px;
        border-radius: 5px;
        background-color: white;
        
    }
    .log {
       
        padding: 10px 80px;
        color: white;
    }



}
    